<div class="grille-principale">
    <!-- Entête -->
    <div class="header">
        <div class="icone-appli">
            <img src="\assets\images\icone_application.png" alt="">
        </div>
        <div class="titre">
            <div class="bulle">Gaming Room</div>
        </div>
        <div class="session">
            <div class="bulle">
                <div>Sylvain</div>
                <img class="icone-profil" src="\assets\profils\5d501b271a89aa33ef5263f461cfbbe5.webp" alt="">
            </div>
        </div>
    </div>

    <!-- Les jeux -->
    <div class="content">
        <div class="jeu">
            <div class="image-jeu">
                <img src="\assets\images\jeu1.png" alt="">
            </div>
            <div class="bouton">
                <button mat-flat-button color="primary">Rejoindre »</button>
            </div>
            <div class="sessions">
                <div class="liste">
                    <span><img class="icone-profil" src="\assets\profils\5d501b271a89aa33ef5263f461cfbbe5.webp" alt=""></span>
                    <span><img class="icone-profil" src="\assets\profils\1c922bf597103e4497908f299356b47a.webp" alt=""></span>
                    <span><img class="icone-profil" src="\assets\profils\49f111b89ee9448b51334155e3ea707a.webp" alt=""></span>
                    <span>Session 1</span>
                </div>
                <div class="liste">
                    <span><img class="icone-profil" src="\assets\profils\2c15d1cd9fcd4bf1e591f1363f78840b.webp" alt=""></span>
                    <span><img class="icone-profil" src="\assets\profils\3a8c76f43bab399ac03ad418984fce24.webp" alt=""></span>
                    <span>Session 2</span>
                </div>
            </div>

        </div>
        <div class="jeu">
            <div class="image-jeu">
                <img src="\assets\images\jeu2.png" alt="">
            </div>
            <div class="bouton">
                <button mat-flat-button color="primary">Rejoindre »</button>
            </div>
            <div class="sessions">
                <div class="liste">
                    <span><img class="icone-profil" src="\assets\profils\2c15d1cd9fcd4bf1e591f1363f78840b.webp" alt=""></span>
                    <span><img class="icone-profil" src="\assets\profils\3a8c76f43bab399ac03ad418984fce24.webp" alt=""></span>
                    <span><img class="icone-profil" src="\assets\profils\49f111b89ee9448b51334155e3ea707a.webp" alt=""></span>
                    <span><img class="icone-profil" src="\assets\profils\65bd21a62695fa66440861b5426542ad.webp" alt=""></span>
                    <span>Session 1</span>
                </div>
                <div class="liste">
                    <span><img class="icone-profil" src="\assets\profils\5d501b271a89aa33ef5263f461cfbbe5.webp" alt=""></span>
                    <span><img class="icone-profil" src="\assets\profils\49f111b89ee9448b51334155e3ea707a.webp" alt=""></span>
                    <span>Session 2</span>
                </div>
            </div>
        </div>
        <div class="jeu">
            <div class="image-jeu">
                <img src="\assets\images\jeu3.png" alt="">
            </div>
            <div class="bouton">
                <button mat-flat-button color="primary">Rejoindre »</button>
            </div>
            <div class="sessions">
                <div class="liste">
                    <span><img class="icone-profil" src="\assets\profils\2c15d1cd9fcd4bf1e591f1363f78840b.webp" alt=""></span>
                    <span><img class="icone-profil" src="\assets\profils\3a8c76f43bab399ac03ad418984fce24.webp" alt=""></span>
                    <span><img class="icone-profil" src="\assets\profils\49f111b89ee9448b51334155e3ea707a.webp" alt=""></span>
                    <span><img class="icone-profil" src="\assets\profils\65bd21a62695fa66440861b5426542ad.webp" alt=""></span>
                    <span>Session 1</span>
                </div>
                <div class="liste">
                    <span><img class="icone-profil" src="\assets\profils\5d501b271a89aa33ef5263f461cfbbe5.webp" alt=""></span>
                    <span><img class="icone-profil" src="\assets\profils\49f111b89ee9448b51334155e3ea707a.webp" alt=""></span>
                    <span>Session 2</span>
                </div>
            </div>
        </div>

    </div>
</div>
